/* FOOTER SECTION */

/* Mobil pana la 480px */

/* Tablet de la 481px pana la 1200px */
@media screen and (min-width: $tablet-breakpoint) {
}

/* Desktop SCSS peste 1200px */
@media screen and (min-width: $desktop-breakpoint) {
}

.footer {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.footer__logo {
  margin-left: -25px;
  margin-top: 30px;
  /* margin-bottom: 28px; */
}

.footer__logo-item {
  color: var(--background-color-two);
}

.footer__street-name {
  color: var(--color-four);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding-bottom: 12px;
  font-style: normal;
}

.footer__mail-link,
.footer__phone-link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus,
  &:hover,
  &:focus {
    color: var(--color-fhree);
    transition: var(--transition);
  }
}

.footer__contacts {
  display: flex;
  /* margin-left: 215px; */
}

.footer__icon-box {
  display: flex;
  gap: 94px;
  padding-top: 48px;
  padding-bottom: 28px;
  align-items: baseline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.footer__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;

  &:hover,
  &:focus {
    border: 1px solid;
    background: #2196f3;
    border-color: #2196f3;
    transition: var(--transition);
  }
}

.footer__heading {
  color: #ffffff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
